* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    align-items: center; /* Centralizar verticalmente o conteúdo */
    justify-content: center; /* Centralizar horizontalmente o conteúdo */
}

body {
    background-color: #d66868;
    text-align: center;
}

.field {
    padding: 10px;
    border: 1px solid #ccc;
    width: 50%;
    margin: 0 auto;
}

.info {
    border: 1px solid red;
}
